<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
    
  <display-name>Archetype Created Web Application</display-name>
  
  
  
  	<!-- 字符编码 -->
  	<filter>  
        <filter-name>characterEncodingFilter</filter-name>  
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
        <init-param>  
            <param-name>encoding</param-name>  
            <param-value>UTF-8</param-value>  
        </init-param>  
        <init-param>  
            <param-name>forceEncoding</param-name>  
            <param-value>true</param-value>  
        </init-param>  
    </filter>  

   
    <filter-mapping>  
        <filter-name>characterEncodingFilter</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping>  
    
  
  
  
  
	<!-- Spring配置 -->
	<!-- 指定Spring Bean的配置文件所在目录。默认配置在WEB-INF目录下 
	(src下的配置文件在启动的时候会自动放到WEB-INF下的classs中)

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>		
	</context-param>	-->	
	<!-- 监听器:web项目在启动的加载上面的配置文件(spring)
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener> -->	
  

  <!-- SpingMVC的配置,dispatcherServlet是前端控制器,会拦截<url-pattern>/</url-pattern>中的资源
  	然后交给controller去处理,找requestMapping中是否有访问的url匹配   -->
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 局部初始化参数,当web容器加载时会加载springMvc的配置文件(spring-servlet.xml) -->	
		<init-param> 
			 <param-name>contextConfigLocation</param-name>
             <param-value>classpath:spring-*.xml</param-value> 
		 </init-param>	
		 <!-- 创建的时机 0为最快 -->	 
		<load-on-startup>1</load-on-startup>	
	</servlet>	

	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


</web-app>